/* CSS MAIN  */

/* CSS SLIDER  */
#main {
    background: url(../images/bg.png) center center no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
    padding: 15px;
    position: relative;
    z-index: 10;
    top: 73px;
}

#main .main-slide {
    display: flex;
    width: 100%;
}

#main .slider-container {
    height: 395px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

#main .slider {
    display: flex;
    transition: transform 1s ease-in-out;
    /* height: 330px; */
}

#main .slide {
    flex: 0 0 auto;
    margin: 0 10px;
}

#main .slide-1 {
    width: 178px;
    /* height: 395px; */
}

#main .slide-1 img {
    border-radius: 5px;
    height: 70% !important;
}


#main .slide-1 .content {
    position: relative;
}

#main .slide-1 .content .in4 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    text-align: center;
    bottom: 40px;
    z-index: 10;
}

#main .slide-1 h4 {
    color: var(--while);
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

#main .slide-1 .in4-sub {
    display: flex;
    justify-content: center;
}

#main .slide-1 .in4-sub .item {
    display: flex;
    margin-bottom: 10px;
    color: white;
    font-size: 11px;
    overflow: hidden;
    font-weight: 500;
    margin-right: 10px;
}

#main .slide-1 .in4-sub .item span {
    margin-left: 5px;
}


#main .slide-1 .in4 .item {
    width: 50%;
    margin-bottom: 4px;
    color: white;
    font-size: 10px;
    overflow: hidden;
    font-weight: 800;
}


#main .first_slide {
    width: 275px;
    height: 395px;
    flex: 0 0 auto;
    margin-right: 10px;
    cursor: pointer;
    /* position: relative; */

}

#main .slide-static {
    /* margin-left: -20px; */
}

#main .first_slide .content {
    position: absolute;
    bottom: 25px;
    color: var(--while);
    /* margin-right: 20px; */
    padding: 40px 0 10px 0;
    width: 275px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#main .first_slide .content .title {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#main .first_slide .content .in4 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#main .first_slide .content .in4 .item {
    width: calc(50% - 20px);
    font-size: 11px;
    margin-bottom: 10px;
}

#main .slide img {
    width: 100%;
    /* height: 100%; */
    border-radius: 5px;
}

#main .recomment-novel {
    color: var(--while);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

#main .image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#main .image-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    /* Chiếm 1/5 chiều cao của ảnh */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* Gradient màu đen từ dưới lên, từ độ trong suốt 0.5 đến 0 */
    z-index: 1;
    /* Đảm bảo lớp gradient nằm phía trên img */
}

#main .image-container img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
    aspect-ratio: 2 / 3;
    /* Đảm bảo img nằm phía trên gradient */
}

/* END CSS SLIDER  */



/* END CSS MAIN  */


/* SECTION  */
section {
    background: #F8F8F8;
    position: relative;
    top: 73px;
}
.t01 {
    padding: 0 8px;
    width: 25%;
}

/* .dark {
    color: var(--while) !important;
    background-color: #1C1E1F !important;
} */

section .inner-section {
    display: flex;
    justify-content: space-between;
}

section .content .list-novel-new {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e3e3e3;
    background: var(--while);
    /* justify-content: space-evenly; */
    border-radius: 5px;
    padding: 15px 8px;
    padding-bottom: 0;

}

section .content {
    width: 74.5%;
    margin-top: 20px;
}

section .content .list-novel-new .item-novel-new {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100% !important;
}

section .content .list-novel-new .item-novel-new img {
    width: 100%;
    height: 260px;
    border-radius: 5px;
    /* padding: 10px; */
}

section .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

section .image-container .desc-in {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

section .image-container .desc-in .item {
    padding: 0 0 10px 0px;
    color: var(--while);
    font-weight: bold;
    font-size: 12px;
}

section .image-container .desc-in .chap {
    margin-left: 20%;
    margin-bottom: 5px;
}

section .image-container .desc-in .view {
    margin-right: 20%;
    margin-bottom: 5px;

}

section .content .item-novel-new h2 {
    color: black;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-start;
}

section .image-container {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

section .image-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 1;
}

section .item-novel-new .in4 .desc {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

section .item-novel-new .in4 .desc .item {
    padding: 0 0 10px 0px;
    color: var(--black);
    font-weight: bold;
    font-size: 11px;
    margin-top: 5px;
}

section .item-novel-new .in4 .desc .chap {
    margin-left: 10%;
    display: flex;
    /* text-overflow: ellipsis; */
    /* margin-right: 10%; */
    width: 50%;
}

section .item-novel-new .in4 .desc .chap span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;                                                                                                                               
}

section .item-novel-new .in4 .desc .view {
    margin-right: 10%;
}


section .content h3 {
    font-weight: 900;
    font-size: 14px;
    margin-left: 10px;
}

section .content .news {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}


ection aside .top-view .view-item a {
    top: 206px;
    left: 30px;
    color: black;
}

section aside .top-view .view-item .main-novel .content-novel {
    width: 100%;
    margin-top: 20px;
}

section aside .top-view .view-item .content-novel .ct-in4 .item {
    margin-top: 5px;
    margin-left: 15px;
}

section aside .top-view .view-item .content-novel .ct-in4 {
    margin-left: 0;
}

section aside .top-view .view-item .content-novel .ct-in4 .xem_ngay {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-left: 15px;
}

/* CSS PHAN TRANG  */
.listPage {
    padding: 10px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

.listPage li {
    font-size: 12px;
    font-weight: 700;
    margin: 0 4px;
    padding: 0 12px;
    line-height: 30px;
    color: #909090;
    background: #fff;
    border: solid 1px #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
}

.listPage .active {
    background: #156d79;
    border: solid 1px #17998c;
    color: #fff;
}

.listPage li:hover {
    background: #156d79;
    border: solid -110px #17998c;
    color: #fff;
}

/* CSS PHAN TRANG  */


/* END SECTION  */


footer {
    position: relative;
    top: 73px;
}


/* RESPONSIVE  */
@media only screen and (max-width: 1200px) {
    #main,
    section,
    footer {
        top: 68px;
    }

    #main .first_slide {
        width: 236px;
        height: 338px;
    }

    #main .first_slide .content {
        width: 236px;
    }

    #main .slider-container {
        height: 338px;
    }

    .container {
        width: 860px;
        /* padding: 0 28px; */
    }


    section aside .top-view .view-item {
        position: relative;
        padding-bottom: 0;
    }

    section aside .top-view .view-item .main-novel .sub-novel {
        flex-direction: column;

    }

    section aside .top-view .view-item .main-novel .img {
        width: 100%;
        position: relative;
    }

    section aside .top-view .view-item .main-novel .img::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        z-index: 1;
    }

    section aside .top-view .view-item>a {
        text-align: center;
        position: absolute;
        top: 219px;
        left: 14px;
        color: var(--while);
        z-index: 4;
    }

    .t01 {
        width: calc(100% / 3);
    }

    .dieukhoan {
        display: none;
    }
}

@media (max-width: 992px) {
    section aside .top-view .view-item a {
        top: 165px;
        font-size: 12px;
    }
    .container {
        width: 860px;
    }
}


@media (max-width: 767.98px) {
    .container {
        max-width: 98%;
    }

    section .inner-section {
        flex-direction: column;
    }

    section .content {
        width: 100%;
    }

    section aside {
        width: 100%;
    }

    section aside .top-view .view-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section aside .top-view .view-item {
        width: 48.8%;
    }

    section .content .list-novel-new .item-novel-new img {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 3;
    }

    .col-6 {
        max-width: 100%;
    }

    section aside .top-view .view-item .main-novel .img img {
        height: auto;
    }

    section aside .top-view .view-item a {
        top: 305px;
        font-size: 14px;
    }

    section aside .top-view .view-item a {
        top: 70%;
    }

    .t01 {
        width: 50%;
    }
}


@media (max-width: 575.98px) {
    .alignall {
        flex-direction: column;
    }

    .ft_col {
        width: 100% !important;
    }

    section aside .top-view .view-item a {
        top: 58%;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;

    }
}


@media (max-width: 400px) {
    section aside .top-view .view-item a {
        top: 54%;
    }
}

/* RESPONSIVE  */