body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    color: #999;
}
.close:hover {
    color: #333;
}
.login-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #187d8b;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 0px);
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #187d8b; 
    border-radius: 25px;
    outline: none;
}
.login-container input[type="text"]::placeholder,
.login-container input[type="password"]::placeholder {
    color: #aaa;
}
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus{
    background-color: rgb(232, 240, 254);
}
.login-container input[type="text"]:not(:placeholder-shown),
.login-container input[type="password"]:not(:placeholder-shown){
    background-color: rgb(232, 240, 254);
}
.login-container input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}
.login-container .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-top: 10px;
}
.login-container input[type="submit"] {
    width: 100%;
    background-color: #187d8b;
    color: white;
    padding: 12px 0;
    margin: 10px 0 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
.login-container input[type="submit"]:hover {
    background-color: #156d79;
}
.login-container input[type="submit"]:active {
    background-color: #0b393f;
}
.login-container .bottom-text {
    text-align: center;
    margin-top: 10px;
}
.login-container .bottom-text a {
    color: -webkit-link;
    text-decoration: none;
}
.forgot-password {
    text-align: right;
    margin-top: 10px;
    float: right;
}